
# BEGIN Better WP Security
Order Allow,Deny
Deny from env=DenyAccess
Allow from all
SetEnvIF REMOTE_ADDR "^174\.122\.106\.98$" DenyAccess
SetEnvIF X-FORWARDED-FOR "^174\.122\.106\.98$" DenyAccess
SetEnvIF X-CLUSTER-CLIENT-IP "^174\.122\.106\.98$" DenyAccess
SetEnvIF REMOTE_ADDR "^91\.207\.4\.186$" DenyAccess
SetEnvIF X-FORWARDED-FOR "^91\.207\.4\.186$" DenyAccess
SetEnvIF X-CLUSTER-CLIENT-IP "^91\.207\.4\.186$" DenyAccess
SetEnvIF REMOTE_ADDR "^204\.93\.167\.80$" DenyAccess
SetEnvIF X-FORWARDED-FOR "^204\.93\.167\.80$" DenyAccess
SetEnvIF X-CLUSTER-CLIENT-IP "^204\.93\.167\.80$" DenyAccess
SetEnvIF REMOTE_ADDR "^91\.224\.160\.35$" DenyAccess
SetEnvIF X-FORWARDED-FOR "^91\.224\.160\.35$" DenyAccess
SetEnvIF X-CLUSTER-CLIENT-IP "^91\.224\.160\.35$" DenyAccess
SetEnvIF REMOTE_ADDR "^173\.242\.125\.206$" DenyAccess
SetEnvIF X-FORWARDED-FOR "^173\.242\.125\.206$" DenyAccess
SetEnvIF X-CLUSTER-CLIENT-IP "^173\.242\.125\.206$" DenyAccess
SetEnvIF REMOTE_ADDR "^88\.190\.44\.26$" DenyAccess
SetEnvIF X-FORWARDED-FOR "^88\.190\.44\.26$" DenyAccess
SetEnvIF X-CLUSTER-CLIENT-IP "^88\.190\.44\.26$" DenyAccess
SetEnvIF REMOTE_ADDR "^38\.111\.147\.83$" DenyAccess
SetEnvIF X-FORWARDED-FOR "^38\.111\.147\.83$" DenyAccess
SetEnvIF X-CLUSTER-CLIENT-IP "^38\.111\.147\.83$" DenyAccess
# END Better WP Security

DirectoryIndex index.php index.html


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ./ /index.php [L]
</IfModule>

# END WordPress